@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Pangolin');



body {
  margin: 0;
  padding: 0;
  font-family: 'Pangolin';
}

.App{
  min-height:100vh;
  margin: 0 auto;
  text-align: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.hero{
  height: 100vh;
}
.hangman-logo{
  margin-top: 5%;
  width: 75vw;
}
.play-button{
  margin-top: 10%;
  font-size: 40px;
  cursor: pointer;
  transition: 0.5s;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color:black;
}
.play-button:hover{
  font-size: 43px;
}

.game{
  height:100vh;
}

.hangman{
  height:30vh;
  padding-top:5vh;
}
.hangmanSvg{
  height:30vh;
}
.fails{
  height:5vh;
  font-size:22px;
}


.word-letter-list-container{
  height:20vh;
  font-size: 24px;
  display:flex;
  max-width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-end;
}
.word-letter-container{
  justify-content: center;
  align-items: center;
  flex: 1;
  
  margin: 0 10px;
  border-bottom: 1px solid black;
}

.letter-list-container{
  display:flex;
  margin: auto;
  height: 40vh;
  flex-wrap: wrap;
  justify-content: center;

}
.alpha-letter-container{
  background: white;
  border: 0;
  font-size: 24px;
  width: 10%;
  font-family: 'Pangolin';
}
.alpha-letter-container:active{
  outline: none;
}

@media (max-width: 899px) {
  .App{
    max-height: 100vh;
  }
  .hero{
    height:30vh;
  }
  .game{
    height:70vh;
  }
  .hangman-logo{
    height:30vh;
  }
  .hangman{
    padding:0;
    height:10vh;
  }
  .fails{
    font-size:22px;
  }
  .word{
    height:10vh;
  }
  .word-letter-list-container{
    height:10vh;
  }
  .hangmanSvg{
    display:none;
  }
  .play-button{
  display:none;
  }

  .letter-list-container{
    padding-top:10vh;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  .App{
    max-height: 100vh;
  }
  .hero{
    height:30vh;
  }
  .game{
    height:70vh;
  }
  .hangman-logo{
    height:30vh;
    margin:0;
  }
  .hangman{
    padding:0;
    height:10vh;
  }
  .fails{
    font-size:22px;
  }
  .word{
    height:10vh;
  }
  .word-letter-list-container{
    height:10vh;
  }
  .hangmanSvg{
    display:none;
  }
  .play-button{
  display:none;
  }

  .letter-list-container{
    padding-top:10vh;
  }
}



